a {
    text-decoration: none;
}

li {
    list-style: none;
}

// h1 {
//     font-size: 32px;
//     @media (min-width: 800px) {
//         font-size: 42px;
//     }
//     @media (min-width: 1200px) {
//         font-size: 60px;
//     }
// }

p {
    font-size: 12px;
    @media (min-width: 800px) {
        font-size: 15px;
    }
    @media (min-width: 1200px) {
        font-size: 18px;
    }
}